<div>
    <div class="container-fluid">
        <h2>{{data.header}}</h2>
        <blockquote>
            <p>{{data.quote}}</p>
            <footer>{{data.source}}</footer>
        </blockquote>
    </div>
</div>