<div>
    <div class="container-fluid">
        <h2>{{data.header}}</h2>
        <hr />
        <h3>{{data.header2}}</h3>
        <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <div class="form-group">
                            <form role="form">
                                <label for="value1">First Value:</label>
                                <input type="text" class="form-control" name="value1" id="value1" placeholder="First Value" ng-model="data.value1" /><br />
                                <label for="value2">Second Value:</label>
                                <input type="text" class="form-control" name="value2" id="value2" placeholder="Second Value" ng-model="data.value2" /><br />
                                <div class="btn-group">
                                    <input type="button" class="btn btn-success" value="Add" ng-click="add()" />
                                    <input type="button" class="btn btn-danger" value="Subtract" ng-click="subtract()" />
                                    <input type="button" class="btn btn-primary" value="Concatenate" ng-click="concat()" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6">
                <div class="well">
                    <h3>{{data.header3}}: {{data.result}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>