<div>
    <h2>This is page 1!</h2>
    <hr />
    <h3>Angular Promises Demonstration</h3>
    <form>
	    <input type="button" value="Simulate Api Call" ng-click="simulateApiCall()" />
    </form>
    <h3>Result: {{result}}</h3>
</div>