<div>
    <h2>{{data.header}}</h2>
    <hr/>
    <div>
        <h3>{{data.header2}}</h3>
        <label for="projectName">Project Name:</label>
        <input type="text" name="projectName" id="projectName" placeholder="Project Name"
               ng-model="data.project.name"><br/>
        <label for="projectType">Project Type:</label>
        <select name="projectType" id="projectType" ng-model="data.project.type">
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>
            <option value="Red">Red</option>
        </select><br/>
        <label for="projectStatus">Project Status:</label>
        <select name="projectStatus" id="projectStatus" ng-model="data.project.status">
            <option value="Ongoing">Ongoing</option>
            <option value="Pending">Pending</option>
            <option value="Complete">Complete</option>
        </select>
    </div>
    <hr/>
    <div>
        <h3>Data Bindings</h3>
        <p>Project Name: {{data.project.name}}</p>
        <p>Project Type: {{data.project.type}}</p>
        <p>Project Status: {{data.project.status}}</p>
    </div>
</div>