.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
    padding: 10px;
}

.container-fluid {
    padding: 0;
}

.content {
    width: calc(100% - 120px);
    height: calc(100% - 60px);
    overflow-y: auto;
    float: left;
    padding: 10px 20px;
}

.toc {
    position: absolute;
    right: 0;
}

.list-group-item {
    border: none;
}

.list-group-item > a {
    color: #204df4;
}

.list-group-item > a:hover {
    text-decoration: none;
    color: #265a88;
}