<div>
    <h2>This is page 2!</h2>
	<hr />
	<div>
		<input type="number" ng-model="value1" /><br />
		<hr />
		Value of value1: {{value1}}<br />
		<hr />
		<button type="button" ng-click="increment()">Increment</button>
	</div>
</div>